__pycache__/
.Python
.python-version

.venv/
venv/
ENV/

.idea/
.vscode/

.streamlit/secrets.toml
.env
*.env.local

.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db

dist/
build/
*.egg-info/
